<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzg.boot.mapper.TGradeMapper">
    <resultMap id="BaseResultMap" type="com.zzg.boot.pojo.TGrade">
        <!--@mbg.generated-->
        <!--@Table t_grade-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="gname" jdbcType="VARCHAR" property="gname"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, gname
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_grade
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from t_grade
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zzg.boot.pojo.TGrade"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_grade (gname)
        values (#{gname,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zzg.boot.pojo.TGrade"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_grade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gname != null">
                gname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gname != null">
                #{gname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zzg.boot.pojo.TGrade">
        <!--@mbg.generated-->
        update t_grade
        <set>
            <if test="gname != null">
                gname = #{gname,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zzg.boot.pojo.TGrade">
        <!--@mbg.generated-->
        update t_grade
        set gname = #{gname,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="listGrade" resultMap="BaseResultMap">
        select *
        from t_grade
    </select>
</mapper>